# Sensible Umgebungsvariablen
.env

# Log-Dateien
knx_app_debug.log
knx_bus.log
*.knxproj
*.knxproj.cache.json

# Veraltete Dateien
old/

# Python Cache-Verzeichnis
__pycache__/

# Ignoriere alle .log-Dateien
*.log
*.zip
.env.bkup
textual.txt
ets.py
modbus_huawei.py
